<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Training</title>
  <script src="../vendor/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>

<div ng-controller="ExampleCtrl as example">
  <h1 ng-if="!example.displayMessage" ng-controller="HiddenCtrl">Please Submit Some Text</h1>
  <h1 ng-show="!example.displayMessage" ng-controller="HiddenCtrl2">Please Submit Some Text</h1>
  <h1 ng-hide="!example.displayMessage" ng-controller="HiddenCtrl2">Thanks!</h1>

  <h2>{{example.displayMessage}}</h2>
  <input type="text" ng-model="example.message">
  <button ng-click="example.onSubmit(example.message)">Submit</button>
</div>

</body>
</html>